

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.background {
  background-image: url("/src/Todobackground.png");
  background-size: cover;
  background-position: center center;
  /* height: calc(200vh - 200px); */
  min-height: 420px;
  background-attachment: fixed;
}
.header {
  z-index: 10;
  color: white;
  text-align: center;
  font-size: xx-large;
}

.task-list {
  background-color: white;
  padding: "40px 40px 40px";
  opacity: 0.9;
  padding: 25px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 100px; 
  margin-bottom: 100px;
}

.new-task {
  margin-bottom: 35px;
}